@page "/armies"
@using NinthAgeCmsToArmyBook.ArmyBooks

<PageTitle>Armies of the 9th Age</PageTitle>

<h1>Armies</h1>
@foreach (var army in _armies)
{
    <NavLink class="nav-link" href="@($"army/{army.Id}")" Match="NavLinkMatch.All">
        @army.ArmyName
    </NavLink>
}
@inject ArmyRepository ArmyRepository

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        _armies = await ArmyRepository.LoadArmies();

        if (!_armies.Any())
        {
            await ArmyRepository.InitArmies();
            _armies = await ArmyRepository.LoadArmies();
        }
    }

    private List<ArmyVersions> _armies = new();
}